<!doctype html>
<html>
<head>
    <title>Simple Authentication</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
</head>
<body>
    <h1>Simpleauth</h1>
</body>
</html>
