<!doctype html>
<html>

<head>
	<title>Authentication Required</title>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
</head>

<body>
	<section id="auth">
		{{#if error}}
			<p><strong>Error:</strong> {{error}}</p>
		{{/if}}
		<form method="post" action="/login">
			<input type="hidden" name="redirect" value="{{redirect}}" />
			<input type="hidden" name="host" value="{{host}}" />
			<input type="text" name="user" placeholder="User Name" /><br />
			<input type="password" name="pass" placeholder="Passphrase" /><br />
			<button type="submit">Login</button>
		</form>
	</section>
</body>

</html>
